@charset "UTF-8";
body {
  /* Ensure the section element is a flex container */
  /* Apply styles to individual elements within .header */
}
body form {
  width: 50%;
}
body a {
  color: #99b2ff;
  text-shadow: #b6b6b6 1px 0 10px;
}
body .bold {
  -webkit-text-decoration: solid;
          text-decoration: solid;
}
body section {
  border: 1px solid;
  box-shadow: 6px 4px 8px;
  padding: 10px;
  justify-content: center; /* Center the flex items horizontally */
}
body section h2 {
  color: black;
  display: flex;
  justify-content: center;
}
body .nav {
  background-color: black;
  color: white;
}
body .nav a {
  -webkit-text-decoration: white;
          text-decoration: white;
}
body .nav a:hover {
  text-decoration: underline;
}
body .header {
  background-image: url(assets/img/background/bluebackground.jpg);
  background-size: cover;
  position: relative;
  width: 100%; /* Ensure the section expands to full width */
  padding: 20px; /* Add padding for better visual appearance */
  display: flex;
  flex-direction: column; /* Stack child elements vertically */
  align-items: center; /* Center child elements horizontally */
}
body .header h2 {
  color: white;
}
body h1, body h2 {
  color: white; /* Change text color to white */
}
body .rounded-img {
  border-radius: 50%; /* Use 50% to achieve circular shape */
  border: 2px solid grey;
  margin-top: 10px; /* Add margin for spacing */
  width: 30vh;
}
body .about-me {
  background-image: url(assets/img/background/vibrant-fluid-gradient-background-with-curvy-shapes_1017-32108.jpg);
  background-size: cover;
}
body .about-me h2 {
  color: black;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  text-decoration: underline;
}
body .about-me p {
  position: relative;
  margin: 40px 500px;
}
body .about-me .section-img {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
body .about-me .section-img .img {
  display: flex;
  width: 60%;
  height: 400px;
  align-items: center;
}
body .about-me .section-img .img-section {
  width: 50%;
  justify-content: center;
  display: flex;
}
body .about-me .section-img .text-section {
  width: 50%;
  align-items: center;
}
body .about-me .section-img .text-section p {
  margin: 10px;
  align-items: center;
}
body .mon_cv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body .mon_cv h2 {
  color: black;
  text-decoration: underline;
}
body .mon_cv .btn {
  color: white;
  background-color: green;
  margin: 10px;
}
body .formulaire {
  background-image: url(assets/img/background/SL_042620_30310_36.jpg);
  background-position: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}
body .formulaire h2 {
  color: black;
  text-decoration: underline;
}
body .formulaire label {
  width: 100%;
  font-weight: bold;
  margin: 5px;
}
body .formulaire input {
  width: 100%;
}
body .formulaire textarea {
  height: 195px;
  width: 100%;
}
body .formulaire button {
  width: 100%;
  margin: 10px 0px;
}
body .competences {
  padding-bottom: 20px;
  text-align: center;
  background-image: url(assets/img/background/bluebackground2.jpg);
  background-size: cover;
}
body .competences h3 {
  font-weight: 100;
}
body .competences .article-compétences {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  text-align: center;
}
body .competences .article-compétences .progress-label {
  padding-left: 10px;
  font-weight: bold;
}
body .competences .article-compétences img {
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 10px;
}
body .competences h3 {
  margin-top: 40px;
}
body .competences h4 {
  display: flex;
  align-items: center;
  margin-top: 40px;
  justify-content: center;
}
body .competences .progress {
  background-color: #f0f0f0;
  border-radius: 5px;
  height: 15px;
  width: 500px;
  overflow: hidden;
  display: inline-block;
}
body .competences .progress .progress-bar {
  background-color: #4CAF50;
  height: 100%;
  width: 70%;
  text-align: center;
  line-height: 10px;
  color: white;
  position: relative;
}
body .projets {
  background-image: url(assets/img/background/lilac-acrylic-texture-background-wallpaper_53876-104015.jpg);
}
body .projets h2 {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  color: black;
}
body .projets .projet-container {
  display: flex;
  flex-direction: row;
  margin: 15px 0px;
  align-items: center;
  justify-content: center;
}
body .projets .projet-container .projet {
  display: flex;
  flex-direction: column;
  width: 21%;
  padding-right: 15px;
}
body .projets .projet-container .projet img {
  width: 100%;
  height: 300px;
}
body .mes_reseaux .reseaux_container {
  display: flex;
  margin: 50px;
  justify-content: space-around;
  align-items: center;
}
body .mes_reseaux .reseaux_container .reseau {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .pagination-container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
body .modal .modal-content {
  width: 100%; /* Largeur de la modal (80% de la largeur de la fenêtre) */
  max-width: 1000px;
  min-height: 400px;
  max-height: 900px;
}
body .modal .modal-body {
  max-height: calc(100vh - 200px); /* Hauteur maximale de la modal (100% de la hauteur de la fenêtre moins 200px) */
  overflow-y: auto; /* Activation du défilement vertical si le contenu dépasse la hauteur de la modal */
}
body .modal .imgTab img {
  width: 100%;
  border: 1px solid gray;
}
body footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
body footer img {
  background-color: white;
  width: 30px;
  height: 30px;
}
body footer p {
  text-align: center;
}
body .scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  font-size: 24px;
  display: none; /* Masquer initialement la bulle */
}
body .scroll-to-top:hover {
  background-color: #0056b3;
}

@media (max-width: 640px) {
  body .about-me .title-section {
    padding: 15px;
  }
  body .about-me .section-img {
    flex-direction: column;
  }
  body .about-me .section-img .img {
    width: 100%;
  }
  body .projets .projet-container {
    display: flex;
    flex-direction: column;
    margin: 15px 0px;
    align-items: center;
    justify-content: center;
  }
  body .projets .projet-container .projet {
    display: flex;
    flex-direction: column;
    width: 68%;
    padding-right: 15px;
    padding: 10px;
  }
  body .projets .projet-container .projet img {
    width: 100%;
    height: 150px;
  }
  body #exampleModal {
    left: 42px;
  }
  body .modal .modal-content {
    width: 80%; /* Largeur de la modal (80% de la largeur de la fenêtre) */
    max-width: 1000px;
    min-height: 400px;
    max-height: 700px;
  }
  body .modal .modal-body {
    max-height: calc(100vh - 200px); /* Hauteur maximale de la modal (100% de la hauteur de la fenêtre moins 200px) */
    overflow-y: auto; /* Activation du défilement vertical si le contenu dépasse la hauteur de la modal */
  }
  body .modal .imgTab img {
    width: 100%;
    border: 1px solid gray;
  }
}/*# sourceMappingURL=style.css.map */